<div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <span><mat-icon>email</mat-icon><h2>Contact Us</h2></span>
                    <h6>We will contact you in next 4 working hours.</h6>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                      <!-- <label class="control-label col-sm-2" for="fname">Full Name:</label> -->
                      <div class="col-sm-10">          
                        <mat-icon inline="true">face</mat-icon>
                        <input type="text" class="form-control" id="fname" placeholder="Full Name" name="fname">
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label class="control-label col-sm-2" for="mobile">Mobile:</label> -->
                      <div class="col-sm-10">
                        <mat-icon inline="true">phonelink_ring</mat-icon>
                        <input type="tel" class="form-control" id="mobile" placeholder="Mobile Number" name="mobile">
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label class="control-label col-sm-2" for="email">Email:</label> -->
                      <div class="col-sm-10">
                        <mat-icon inline="true">email</mat-icon>
                        <input type="email" class="form-control" id="email" placeholder="Email Address" name="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label class="control-label col-sm-2" for="comment">Comment:</label> -->
                      <div class="col-sm-10">
                        <mat-icon inline="true">record_voice_over</mat-icon>
                        <textarea class="form-control" rows="5" id="comment" placeholder="You can also directly call us at 9833663086"></textarea>
                      </div>
                    </div>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    