<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d222.56703061003893!2d83.38591655284846!3d26.805820378027217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991450ce8124077%3A0xe7904b1efcb2fa93!2zMjbCsDQ4JzIxLjEiTiA4M8KwMjMnMTAuNSJF!5e0!3m2!1sen!2sin!4v1565871262518!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <h5 class="project-content">
                Ready to move commercial and in progress residential project is located at 
                prime area of Gorakhpur city. Site is easy to reach for heavy/light vehicles by public and private
                transportation. Propert is comprised of total 4 floors. Three floors (Basement, Ground and first) 
                are best suitable for commercial usage. Commercial floors are complete hall with no piller in middle.
                Forth floor is comprises of two suits having 2 bedroom, kitchen and washrooms each. Rooms are 
                properly ventilated.
                We ensured building quality by hiring best possible architect and construction materials 
                to provide good living experience. Commercial as well as Residential floors are design to provide 
                maximum comfort. A home away from home.
                Property located in calm residential area near by Medical College Gorakhpur. Most of local residents are 
                either current or former employees of Medical college or Indian Railway Services. Very good quality of 80 ft 
                widenned road make this area very comfortable to reach.
            </h5>
        </div>
        <div class="col-lg-12">
            <hr>
            <ng-image-slider [images]="imageObject" #nav infinite="true" autoSlide="1 sec"></ng-image-slider>
        </div>
    </div>
</div>
