/* You can add global styles to this file, and also import other style files */
@import '@angular/material/_theming.scss';

/*Align header icon and text*/
button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.90em;
}

.fixed-header {
    margin-bottom:5px;
    top: 0;
    position: sticky;
    z-index: 10000;
    background-color: inherit;
}

.h1-logo {
    width: 45px;
    height: 45px ; 
    // margin-top: 10px;
}

.sidenav-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.sidenav-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

.h3-text {
    vertical-align: text-bottom;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: crimson; 
    font-weight: bold;
}

  
.mat-button {
    padding: 0; 
    border: none; 
    background: none;
}

.mat-icon {
    font-size: 45px;
}

.mat-icon-side-menu {
    padding: 0; 
    border: none; 
    background: none; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.full-screen {
    width:100%; 
    height: 100%
}

.tab-active {
    background-color: darkmagenta;
}

.tab-inactive {
    background-color: black;
}

.project-content {
    margin-left: auto; 
    margin-right: auto; 
    text-align: justify;
    color: black;
}

.contact-container {
    width: 100%;
    color: #555;
    background-image: "./assets/image/rd4.jpg";
    text-align: left;
}

.contact-form {
    width: 100%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    // border: 0ch;
}

// .contact-container > * {
//     width: 100%;
// }